
  .checkbox-wrapper-39 {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .checkbox-wrapper-39 *::before,
  .checkbox-wrapper-39 *::after {
    box-sizing: border-box;
    display: flex;
  }

  .checkbox-wrapper-39 label {
    
    display: flex;
    justify-self:baseline;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  .checkbox-wrapper-39 input {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-39 input:checked ~ .checkbox {
  
   transform: rotate(45deg);
   width: 14px;
   margin-left: 12px;
   border-color: #24bcc7;
   border-top-color: transparent;
   border-left-color: transparent;
   border-radius: 0;
  }

  .checkbox-wrapper-39 .checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #00edfe;
    border-radius: 6px;
    transition: all 0.375s;
  }

  /* Color palette */
:root {
  --rosebud: #adfff4;
  --marzipan: #b8a5ff;
  --chiffon: #d6b6ff;
  --mist: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  --harp: #E4F1EE;
  --geyser: #DEDAF4;
  --white: #FFFFFF;
  --dark: #000000;
}



#hero-text {
  display: block;
  flex-direction: row;
  border: 1px solid rgb(4, 5, 19);
  border-radius: 100px;
  background:linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);;
  max-width: auto;
  font-family: 'Inter', Arial;
  font-size: 3em;
  font-weight: 600;
  color: var(--dark);
  padding: 10px;
  margin:0.5% ;
}

.highlight {
  color: var(--white);
  text-shadow: 
    2px 2px 1px var(--dark), 
    2px -1px 1px var(--dark), 
    -1px 1px 1px var(--dark), 
    -1px -1px 1px var(--dark);
}

.highlight:hover {
  color: var(--dark);
  text-shadow: none;
}

.highlight.c1:hover {
  background-color: var(--mist);
}
.highlight.c2:hover {
  background-color: var(--rosebud);
}
.highlight.c3:hover {
  background-color: var(--marzipan);
}
.Pques
{
  
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);

}
#hero{
  flex-direction: row;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
  background:linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);;
  max-width: auto;
  font-family: 'Inter', Arial;
  font-size: 3em;
  font-weight: 600;
  color:#00edfe;
  padding: 10px;
  margin: 1%;
}
.QUESTION_BODY{
  background-color: #d4f1f9;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 90px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  padding-right:20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 25px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.submit{
  
  display: flex;
  justify-content: center;
  margin: 2%;
}